body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-align: center;
}
h1 {
    margin: 20px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: #f2f2f2;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
li {
    margin-left: 20px;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
a:hover {
    color: #ff0000;
    backdrop-filter: blur(5px);
}

.text-center{
    width: 60%;
    height: 60%;
    align-items: center;
    margin: auto;
}

#text-center{
    width: 60%;
    height: 60%;
    align-items: center;
    margin: auto;
}

#contact1{
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}

#contact2{
    display: inline-block;
    vertical-align: top;
}




/* Hamburger menu styles */
/* Hamburger icon */
.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    border-radius: 3px;
  }
  
  /* Mobile menu */
  @media only screen and (max-width: 600px) {
    #menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  
    #menu li {
      display: block;
      text-align: center;
      margin: 10px 0;
    }
  
    #hamburger {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }
  
    #hamburger span:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }
  
    #hamburger span:nth-child(2) {
      opacity: 0;
    }
  
    #hamburger span:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  
    #menu.show {
      display: block;
    }
  }
  