{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>This is the About page ::.</p>


<div class="text-center">
    <div style="display: flex; align-items: center; justify-content: center;">
        <img src="static\coding.gif" alt="My Image" style="width: 200px; height: 200px; margin-right: 20px;">
        <div>
            <h1>Hi 👋, I'm Khushaalan</h1>
            <h3>A passionate frontend developer from Malaysia</h3>
        </div>
    </div>
</div>

{% endblock %}
