<!-- base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/programmer.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
  </head>
  <body>
    
    <nav>
      <h1>Khushaalan's Web Portfolio</h1>

      <ul id="menu">     
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('skills') }}">Skills</a></li>
        <li><a href="{{ url_for('workexperiences') }}">Work Experiences</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
