{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>This is the Contact page.</p>

<div id="text-center">
    <div id="contact1">
        <h3 align="left">Connect with me:</h3>
        <p align="left">
            <a href="https://linkedin.com/in/khushaalan" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="khushaalan" height="30" width="40" /></a>
            <a href="https://fb.com/khushaalan" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="khushaalan" height="30" width="40" /></a>
        </p>
    </div>

    <div id="contact2">
        <h3 align="left">Support:</h3>
        <p>
            <a href="https://www.buymeacoffee.com/khushaalan"> <img align="left" src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50" width="210" alt="khushaalan" /></a>
        </p>
    </div>
</div>


{% endblock %}
