{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
<h1>Skills</h1>
<div class="text-center">
    <div style="display: flex; align-items: center; justify-content: center;">
    </div>
        <h1 align="left">Languages and Tools:</h1>
        <p align="left"></p>

        <div class="project-container">
            <div class="project">
                <h2>MERN Stack</h2>
                <div class="project-logos">
                    <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb">
                    </a>
                    <a href="https://expressjs.com" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express">
                    </a>
                    <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react">
                    </a>
                    <a href="https://nodejs.org" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs">
                    </a>
                </div>
                <p>A stack of technologies used for building full-stack web applications, including MongoDB for database management, ExpressJS for server-side development, ReactJS for front-end development, and NodeJS for server-side runtime environment.</p>
            </div>
            <div class="project">
                <h2>Front-end Technologies</h2>
                <div class="project-logos">
                    <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5">
                    </a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript">
                    </a>
                    <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3">
                    </a>
                    <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap">
                    </a>
                    <a href="https://nextjs.org/" target="_blank" rel="noreferrer">
                        <img src="https://cdn.worldvectorlogo.com/logos/nextjs-2.svg" alt="nextjs">
                    </a>
                    <a href="https://nuxtjs.org/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/nuxtjs/nuxtjs-icon.svg" alt="nuxtjs">
                    </a>
                </div>
                <p>A set of technologies used for front-end web development, including HTML, CSS, JavaScript, and front-end frameworks such as Bootstrap, Next.js, and Nuxt.js.</p>
            </div>
            <div class="project">
                <h2>Python Frameworks</h2>
                <div class="project-logos">
                    <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer">
                        <img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django">
                    </a>
                    <a href="https://flask.palletsprojects.com/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask">
                    </a>
                    <a href="https://www.python.org" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python">
                    </a>
                </div>
                <p>A set of frameworks for Python, including Django and Flask, used for building web applications.</p>
            </div>
            <div class="project">
                <h2>Version Control System (VCS)</h2>
                <div class="project-logos">
                    <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git">
                    </a>
                </div>
                <p>A system used for tracking changes in software development, specifically Git in this case.</p>
            </div>
            <div class="project">
                <h2>API development and testing tool</h2>
                <div class="project-logos">
                    <a href="https://postman.com" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman">
                    </a>
                </div>
                <p>A tool used for developing and testing APIs, specifically Postman in this case.</p>
            </div>
        </div>

</div>
<br><br>

<style>
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .project {
    width: 300px;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    }

    .project h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .project p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .project-logos {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .project-logos img {
        width: 40px;
        height: 40px;
    }
</style>

{% endblock %}
